<table class="table">
	<tr>
		<th>Password</th>
		<th>Count</th>
	</tr>
	<tr v-for="password in passwords">
		<td>"{{ password.password }}"</td>
		<td>{{ password.count }}</td>
	</tr>
</table>
<script>
	Vue.http.options.emulateJSON = false;
	vm = new Vue({
	  el: 'body',
	  data: {
	  	passwords:null
	  },
	  created: function(){
	  },
	  ready:function(){
	  	this.getPasswords();
	  },
	  computed: {
	    
	  },
	  methods: {
	    getPasswords:function(){
		    this.$http.post("?/getpasswords/",{}).then(function(data){
	        this.passwords = JSON.parse(data.body);
	      });
	    }
	  }
	});
</script>
